/* Generics */
body {
    width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        user-select: none;
    background-color: #0f0e17;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    color: #0f0e17;
}

.my-container{
    width: 100%;
    height: 100%;
    padding-top: 100px;
}

.screen__view::-webkit-scrollbar {
    display: none;
}

main {
    display: flex;
    flex: 1;
    background: #000;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

header {
    background-color: #0f0e17;
    height: 64px;
    color: #ecf1f3;
}

header img{
    width: 64px;
}

.form-control{
    height: 44px;
}

.bg-color{
    background-color: #fffffe;
}

.btn{
    padding: 5px;
}

.my-btn-success {
    background-color: #ff8906!important;
    color: #0f0e17;
    border: none;
    padding: 10px;
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.my-btn-success:hover,
.my-btn-success:visited,
.my-btn-success:active {
    background-color: #f25f4c!important;
}

.my-btn-close {
    padding: 6px;
    background-color: #ff8906;
    font-size: 10px;
}

.my-btn-warning {
    background-color: #ff8906!important;
    border: none;
}

.my-btn-success:focus {
    background-color: #f25f4c!important;
}

i {
    margin-right: 1rem;
    font-size: 1rem;
}

i.fa-check-square {
    color: #e53170;
}

.done {
    color: #e53170;
    text-decoration: line-through;
}
